<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if '/' == request.path %}class="active" {% endif %}>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li {% if '/app/flag' in request.path %}class="active" {% endif %}>
            <a href="/app/flags/"><i class="fa fa-fw fa-flag-o"></i> Flags</a>
        </li>
        <li {% if '/app/sh0t' in request.path %}class="active" {% endif %}>
            <a href="/app/sh0ts/"><i class="fa fa-fw fa-bullseye"></i> Sh0ts</a>
        </li>
        <li {% if '/app/assessment' in request.path %}class="active" {% endif %}>
            <a href="/app/assessments/"><i class="fa fa-fw fa-cube"></i> Assessments</a>
        </li>
        <li {% if '/app/project' in request.path %}class="active" {% endif %}>
            <a href="/app/projects/"><i class="fa fa-fw fa-cubes"></i> Projects</a>
        </li>
        <li {% if '/app/template' in request.path %}class="active" {% endif %}>
            <a href="javascript:;" data-toggle="collapse" data-target="#configuration"><i class="fa fa-fw fa-gear"></i> Configuration <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="configuration" class="collapse">
                <li>
                    <a href="/app/templates/">Templates</a>
                </li>
                <li>
                    <a href="/admin/configuration/casemaster/">Case Master(Django)</a>
                </li>
                <li>
                    <a href="/admin/configuration/modulemaster/">Module Master(Django)</a>
                </li>
            </ul>
        </li>
    </ul>
</div>