<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if '/' == request.path %}class="active" {% endif %}>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li {% if '/app/flags/' == request.path %}class="active" {% endif %}>
            <a href="/app/flags/"><i class="fa fa-fw fa-flag-o"></i> Flags</a>
        </li>
        <li>
            <a href="/app/sh0ts/"><i class="fa fa-fw fa-bullseye"></i> Sh0ts</a>
        </li>
        <li>
            <a href="/app/assessments/"><i class="fa fa-fw fa-cube"></i> Assessments</a>
        </li>
        <li>
            <a href="/app/projects/"><i class="fa fa-fw fa-cubes"></i> Projects</a>
        </li>
        <li>
            <a href="/app/bug-templates/"><i class="fa fa-fw fa-file-text"></i> Bug Templates</a>
        </li>
    </ul>
</div>