{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block title %} List Flags | sh00t{% endblock %}

{% block page %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Flags</h1>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a></li>
                        <li class="active"><i class="fa fa-flag"></i> Flags</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-flag"></i> All Flags</h3>
                        </div>
                        <div class="panel-body">
                            {% if all_flags %}
                                {% render_table table %}
                                <div class="left">
                                    <input type="button" value="Delete" id="delBtn" class="btn btn-danger" data-loading-text="Deleting.." />
                            {% else %}
                                <h4><a href="/app/flags/new">Add a flag</a> </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_foot %}
  <div class="modal fade" id="checkMin1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <b class="modal-title">Hey, there!</b>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Don't forget to check one of those checkboxes!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<script src="/static/js/common-ajax.js"></script>
<script language="JavaScript">
function toggle(source) {
    checkboxes = document.getElementsByName('selection');
    for(var i in checkboxes)
        checkboxes[i].checked = source.checked;
}

$('#delBtn').on('click', function() {
    if(confirm("You are about to delete the selected flag/s. Are you sure to continue?")) {
        var $this = $(this);
        $this.button('loading');
        isCheckedMin();
        $('input:checked').each(function() {
            $.ajax({
                url: '/api/flag/' + $(this).val(),
                type: 'DELETE',
                headers: {"X-CSRFToken": getCSRFToken()},
            });
        });
        alert("The selected flag/s have been deleted");
        document.location.reload();
    }
});

function isCheckedMin() {
    if(0 == $('input:checked').length) {
        $("#checkMin1").modal();
    }
}
</script>
{% endblock %}