{% extends "base.html" %}
{% block title %} Dashboard | sh00t{% endblock %}

{% block page %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Dashboard <small>Statistics Overview</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cubes fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ projects_count }}</div>
                                    <div>Projects</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cube fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ assessments_count }}</div>
                                    <div>Assessments</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Assessments</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bullseye fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ recent_sh0ts.count }}</div>
                                    <div>Shots!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/app/shots/">
                            <div class="panel-footer">
                                <span class="pull-left">View Shots</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-flag-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ open_flags.count }}</div>
                                    <div>Open Flags!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/app/flags/">
                            <div class="panel-footer">
                                <span class="pull-left">View Flags</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recent Shots</h3>
                        </div>
                        <div class="panel-body">
                            {% if recent_sh0ts %}
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Assessment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sh0t in recent_sh0ts %}
                                                <tr>
                                                    <td><a href="/app/sh0t/{{ sh0t.id }}/">{{ sh0t.title }}</a></td>
                                                    <td><a href="/app/assessment/{{ sh0t.assessment.id}}/">{{ sh0t.assessment.name }}<a></a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="/app/flags/">View All <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            {% else %}
                                <h4><i class="fa fa-bullseye"></i> <a href="/app/flags/">Sh00t one</a></h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recent Flags</h3>
                        </div>
                        <div class="panel-body">
                            {% if recent_flags %}
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Done</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for flag in recent_flags %}
                                                <tr>
                                                    <td><a href="/app/flag/{{ flag.id }}/">{{ flag.title }}</a></td>
                                                    <td>{{ flag.done }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="/app/flags/">View All <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            {% else %}
                                <h4><i class="fa fa-flag-o"></i> <a href="/app/flags/">New Flag</a></h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}