{% extends "base.html" %}
{% block title %} {{ sh0t.title }} | sh00t{% endblock %}

{% block page %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sh0t</h1>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
                        <li><i class="fa fa-bullseye"></i> <a href="/app/sh0ts/all/">Sh0t</a></li>
                        <li class="active">{{ sh0t.title }} <span id="response" class="small"></span></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" method="post">
                        {% if "success" == submitted %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> <i class="fa fa-info-circle"></i> Updated
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label>Severity</label>
                            <select class="form-control" name="severity" id="severity">
                                    {% for sev in severities %}
                                        <option value={{sev}}> P{{sev}} </option>
                                    {% endfor %}     
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" name="title" id="title" value="{{ sh0t.title }}" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label>Note</label>
                            <textarea class="form-control" rows="15" id="body" name="body">{{ sh0t.body }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="assessment">Assessment</label>
                            <select class="form-control" name="assessment" id="assessment">
                            {% for assessment in assessments %}
                                <option value="{{ assessment.id }}"
                                {% if assessment.id == sh0t.assessment.id %}
                                    selected="selected"
                                {% endif %}>
                                {{ assessment.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" value="{{ sh0t.id }}" id="id" />
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="submit" name="delete" value="delete" class="btn btn-danger">Delete</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_foot %}
<script src="/static/js/common-ajax.js"></script>
<script type="text/javascript">

    /* Select the current severity */$
    $('#severity option[value={{sh0t.severity}}]').attr('selected','selected');

    /* sync() defined in common-ajax ^ above */
    $('#body').on('input', function() {
        sync('sh0t');
    });
    $('#title').on('input', function() {
        sync('sh0t');
    });
    $('#severity').on('change', function() {
        sync('sh0t');
    });
    $('#assessment').on('change', function() {
        sync('sh0t');
    });
</script>
{% endblock %}