{% extends "base.html" %}
{% block title %}{{ template.name }} - Template | Sh00t{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/simplemde.min.css">
{% endblock %}
{% block page %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/app/templates/">Templates</a></li>
    <li class="breadcrumb-item active"><i class="fa fa-palette"></i> {{ template.name }} <span id="response" class="small"></span></li>
</ol>

<div class="row">
    <div class="col-lg-6">
        <form role="form" method="post">
            {% if "success" == submitted %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> <i class="fa fa-info-circle"></i> Updated
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" id="name" value="{{ template.name }}" autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Body</label>
                <textarea class="form-control" rows="10" name="body" id="body">{{ template.body }}</textarea>
            </div>
            <input type="hidden" value="{{ template.id }}" id="id" />
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="submit" name="delete" value="delete" class="btn btn-danger">Delete</button>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
{% block extra_foot %}
<script src="/static/js/common-ajax.js"></script>
<script type="text/javascript">
    $('#name').on('input', function() {
        sync('template');
    });
    $('#body').on('input', function() {
        sync('template');
    });
</script>
<script src="/static/js/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("body"),
        autosave: {
            enabled: true,
            uniqueId: "Sh00tTemplateSingleBody{{ template.id }}",
            delay: 1000,
        },
    });
</script>
{% endblock %}